<h1>Pedals<a href='/pedals/new'>(+)</a></h1>

<p>
<%= link_to "pedalboards", pedalboards_path %>
</p>

<ul>
  <% @pedals.each do |pedal| %>
  <div class = pedals>
    <li id = 'stompbox_name'>
      <%= link_to pedal.name, pedal_path(pedal) %>
    </li>
  </div>
  <% end %>
</ul>
