<h1>Edit Pedalboard</h1>

<%= render 'form'%>
<!-- You can also add a delete confirmation -->
<%= link_to 'Delete!', pedalboard_path(@pedalboard), method: :delete, class: 'delete' #, data: {confirm: "Are you sure?"} %>
