<h1>Pedalboards<a href='/pedalboards/new'>(+)</a></h1>

<ul>
  <% @pedalboards.each do |pedalboard| %>
    <li class = 'pedalboard_name'>
      <%= link_to pedalboard.name, pedalboard_path(pedalboard) %>
    </li>
  <% end %>
</ul>
