<h1>Pedalboards<a class = 'create' href='/pedalboards/new'>(+)</a></h1>

<p>
<%= link_to "pedals", pedals_path %>
</p>

<ul>
  <% @pedalboards.each do |pedalboard| %>
  <div class = pedalboards>
      <li id = 'pedalrig_name'>
      <%= link_to pedalboard.name, pedalboard_path(pedalboard) %>
    </li>
  </div>
  <% end %>
</ul>
